<%= form_for :post do |f| %>



    <p>
        <%= f.label :Question %><br>
        <%= f.text_field :Question %>

    </p>

    <p>
        <%= f.label :Answer %>
    </p>

    <p>
        <%= f.label :A %>
        <%= f.text_field :A %>

        <%= f.label :B %>
        <%= f.text_field :B %>
    </p>

    <p>
        <%= f.label :C %>
        <%= f.text_field :C %>

        <%= f.label :D %>
        <%= f.text_field :D %>
    </p>
    <p>
        <%= f.submit "submit" %>
<% end %>