<p id="notice"><%= notice %></p>

<p>
    <strong>Question:</strong>
    <%= @post.Question %>
</p>

p>
    <strong>A:</strong>
    <%= @post.A %>
</p>

<p>
    <strong>B:</strong>
    <%= @post.B %>
</p>

<p>
    <strong>C:</strong>
    <%= @post.C %>
</p>

<p>
    <strong>D:</strong>
    <%= @post.D %>
</p>